[submodule "third-party/git-aware-prompt"]
	path = third-party/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule "third-party/nvs"]
	path = third-party/nvs
	url = https://github.com/jasongin/nvs
[submodule "third-party/git"]
	path = third-party/git
	url = https://github.com/git/git
	shallow = true
