[user]
	email = andreas.kohn@gmail.com
	name = Andreas Kohn
	signingkey = 66E99F92
[credential]
	# For Linux
	helper = netrc
	# For macOS
	#helper = osxkeychain
[core]
	editor = vi
	pager = cat
	whitespace = trailing-space,space-before-tab,tabwidth=4
[diff]
	renames = true
	algorithm = histogram
	compactionHeuristic = true
	submodule = log
[log]
	follow = true
[alias]
	ci = commit -v
	st = status
	co = checkout
	out = log --oneline @{u}..
	glog = log --graph --oneline --decorate --all
	up = pull --ff-only
	tip = log --oneline HEAD^..HEAD
[color]
	ui = auto
[push]
	default = simple
	followTags = true
[format]
	pretty = oneline
[status]
	submodulesummary = 1
[url "https://github.com/Collaborne"]
	insteadOf = git://github.com/Collaborne
[commit]
	gpgsign = true
[gpg]
	program = gpg-wrapper
[tag]
	forceSignAnnotated = true
[rebase]
	autostash = true
[rerere]
	enabled = true
