[user]
	email = andreas.kohn@gmail.com
	name = Andreas Kohn
	signingkey = 66E99F92
[credential]
	# Note: This section will configured automatically in install.sh, the values here are for documentation
	# only. Eventually this will need to be switched into a per-host configuration that is excluded from git ...
	# For Linux
	#helper = /usr/libexec/git-core/git-credential-libsecret
	#helper = netrc
	# For macOS
	#helper = osxkeychain
[core]
	editor = vi
	pager = cat
	whitespace = trailing-space,space-before-tab,tabwidth=4
	excludesFile = ~/.gitignore
[diff]
	renames = true
	algorithm = histogram
	compactionHeuristic = true
	submodule = log
[log]
	follow = true
[alias]
	# ATTENTION: All aliases prefixed with ! run in /bin/sh make sure you use sh syntax, not bash/zsh or whatever
	ci = commit
	st = status
	co = checkout
	out = log --oneline @{u}..
	glog = log --graph --oneline --decorate --all
	up = pull --ff-only
	tip = log --oneline HEAD^..HEAD
	recentb = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/master}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/master}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind||branch|lastcommit|message|author\\n\" && cat) | column -ts'|';}; r"
	meld = !git difftool -t meld --dir-diff
[color]
	ui = auto
[push]
	default = simple
	followTags = true
	recurseSubmodules = check
[format]
	# Or one of the predefined formats such as 'oneline'
	pretty = %C(yellow)%h %C(cyan)%cD%Cred%d %Creset%s%Cgreen [%cn]%Creset
[status]
	submodulesummary = 1
[commit]
	gpgsign = true
	verbose = true
[gpg]
	program = gpg-wrapper
[tag]
	forceSignAnnotated = true
[rebase]
	autoStash = true
	stat = true
	updateRefs = true
	# XXX: Ideally we would want to also configure --rebase-merges to be the default,
	#      but it seems that isn't available according to git-config(1)
[rerere]
	enabled = true
	autoupdate = true
[init]
	defaultBranch = main
[merge]
	# `zdiff3` requires git 2.35, use `diff3` before
	# See https://github.blog/2022-01-24-highlights-from-git-2-35/
	conflictstyle = zdiff3
