[user]
	email = andreas.kohn@gmail.com
	name = Andreas Kohn
[core]
	editor = vi
	pager = cat
	whitespace = trailing-space,space-before-tab,tabwidth=4
[diff]
	renames = true
	algorithm = histogram
	compactionHeuristic = true
	submodule = log
[alias]
	ci = commit -v
	st = status
	co = checkout
	out = log --oneline @{u}..
	glog = log --graph --oneline --all
	up = pull --ff-only
[color]
	ui = auto
[push]
	default = simple
[url "https://github.com/Collaborne"]
	insteadOf = git://github.com/Collaborne
[format]
	pretty = oneline
